* {
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
}
head,
h1 {
    font-size: 50px;
}
h2 {
    font-size: 40px;
}
li {
    text-align: left;
}
ol {
    list-style-position: inside;
}
ul {
    list-style-position: inside;
}
table {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

th,
td {
    border-style: dashed;
    padding: 10px;
}

tr :hover {
    background-color: chartreuse;
}

img {
    width: auto;
    max-width: 80%;
    align-items: center;
}
code {
    padding-inline: 20%;
    background-color: #ddd;
}
